.donate-terms {


  &__content {
    justify-content: space-between;
    max-width: 1180px;
    margin: auto;
    border-top: 1px solid rgba(34, 34, 34, 0.38);
    @include respond((
      display: block null flex,
      padding: (100px 30px 170px) null (100px 0 170px),
    ));
  }


  &__column {
    @include respond((
      width: null null percentage(580/1180),
    ));

    &:nth-child(2) {
      @include respond((
        width: null null percentage(454/1180),
        margin-top: 1em null 0,
      ));;
    }

    p {
      @include font(roboto);
      @include respond((
        font-size: 13px,
        line-height: 20px,
      ));

      &:not(:first-child) {
        margin-top: 1.2em;
      }
    }

    strong {
      @include font(roboto-bold);
    }
  }
}
