.footer {
  display: block;
  @include respond((
    padding: (24px 16px) null 0,
    padding-top: null null 40px,
    background-color: $black,
  ));


  &__logo {
    width: 85px;
    @include respond((
      margin-left: null null percentage(39px/$bp-lg) percentage(130px/$bp-xl),
    ));

    img {
      width: 100%;
    }
  }


  &__top {
    margin-top: 30px;
    @include respond((
      display: null null flex,
      padding-top: null null null 30px,
      padding-bottom: null null null 39px,
      padding-left: null null percentage(39px/$bp-lg) percentage(130px/$bp-xl),
      padding-right: null null percentage(39px/$bp-lg) percentage(130px/$bp-xl),
    ));
  }


  &__nav {
    position: relative;
    @include respond((
      display: block null flex,
      width: null null percentage(545/1180),
      flex-wrap: wrap,
      justify-content: space-between,
      padding-bottom: 14px null 0,
      margin-right: null null percentage(55/1180),
    ));


    &__column {
      @include respond((
        width: null null percentage(150/545),
      ));

      &:first-child {
        .footer__nav__column-heading {
          @include respond((
            display: none null block,
          ));
        }
      }

      &:not(:first-child) {
        // @include respond((
        //   margin-left: null null percentage(55/545),
        // ));
        @include breakpoint(md down) {
          margin-top: 30px;
        }
      }

      &-heading {
        @include font(roboto-bold);
        @include respond((
          color: $white,
          font-size: 16px,
          line-height: 35px,
          text-transform: uppercase,
        ));
      }

      &-links {
        @include respond((
          margin-top: 6px,
        ));

        a {
          display: block;
          font-weight: normal;
          @include font(roboto);
          @include respond((
            font-size: 16px,
            line-height: 36px,
            color: $white,
          ));
        }
      }
    }

    &__cta {
      align-self: flex-end;
      @include respond((
        width: null null 100%,
        margin-top: 41px null 46px,
      ));

      &__copy {
        color: $white;
        @include respond((
          display: block null none,
          padding-top: nul null 18px,
          padding-bottom: 18px,
        ));
      }

      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        white-space: nowrap;
        @include font(roboto-condensed-bold);
        @include respond((
          width: 100% null auto,
          height: 36px,
          font-size: 14px,
          color: $white,
          margin-top: 6px null 0,
        ));
      }


      svg {
        fill: $white;
        display: inline-block;

        &:first-child {
          width: 24px;
          height: 24px;
          margin-left: 0;
          @include respond((
            margin-right: 24px null 10px,
          ));
        }

        &:last-child {
          width: 7.4px;
          height: 12px;
          @include respond((
            margin-left: auto null 9px,
          ));
        }

      }
    }
  }

  &__text {
    @include respond((
      width: null null percentage(580/1180),
      flex-shrink: 0,
      padding: (14px 0) null 0,
    ));

    &__item {
      @include font(roboto-regular);
      @include respond((
        font-size: 13px,
        line-height: 19px,
        color: $white,
      ));

      &:not(:first-child) {
        @include respond((
          margin-top: 18px null 40px,
        ));
      }
    }

    &__cta {
      display: flex;
      white-space: nowrap;
      font-weight: bolder;

      &:link,
      &:visited,
      &:active {
        display: flex;
        align-items: center;
        @include font(roboto-bold);
        @include respond((
          height: 48px null 1em,
          font-size: 16px null inherit,
          line-height: 20px null inherit,
          margin-top: 1em,
          color: $white,
        ));
      }

      svg {
        width: 8px;
        height: 12px;
        fill: $white;
        @include respond((
          margin-left: auto null 10px,
        ));
      }
    }
  }



  &__bottom {
    display: flex;
    @include respond((
      justify-content: null null space-between,
      padding: null null (0 percentage(39px/$bp-lg) 40px) (0 percentage(130px/$bp-xl) 40px),
    ));
  }


  &__social {
    @include respond((
      display: none null flex,
      align-items: center,
      flex-shrink: 1,
    ));

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }

    svg {
      fill: $white;
      width: 18px;
      height: 18px;
    }
  }


  &__fineprint {
    @include font(roboto);
    @include respond((
      width: null null percentage(580/1180),
      border: (1px solid #979797) null,
      font-size: 11px,
      line-height: 20px,
      color: $white,
      padding: (8px 20px) null (11px 0),
      text-align: left null center,
    ));

    strong {
      font-weight: bolder;
      color: inherit;
      @include font(roboto-medium);
    }
  }
}
