.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  width: 100%;
  z-index: 10;
  @include respond((
    height: 57px null 120px,
  ));

  .mo-container {
    position: relative;
    @include respond((
      height: null null 100%,
    ));
  }

  .logo {
    display: block;
    position: absolute;
    @include respond((
      width: 85px null 180px,
      height: 45px null 80px,
      top: 27px null 56px,
      left: 50%,
      transform: translateX(-50%),
      z-index: null null 1000,
    ));

    img {
      width: 100%;
    }
  }

  li {
    &::before {
      content: '';
    }
  }
}

body {
  @include respond((
    padding-top: 57px null 120px,
  ));
}
