.home-illustration {
  position: relative;
  background-color: $black;

  &__cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: percentage(1180px/1440px);
    max-width: 1180px;
    margin-top: 100px;
    @include respond((
      display: none null block,
    ));
  }


  &__section {

  }


  &__top {
    @include respond((
      background-color: $black,
      padding-top: 30px null 60px,
    ));

    .home-illustration__content {
      @include respond((
        margin-left: null null percentage(130px/$bp-xl),
        margin-right: null null auto,
      ));
    }
  }


  &__bottom {
    @include respond((
      background-color: transparentize($black, .15),
    ));

    .home-illustration__content {
      @include respond((
        margin-right: null null percentage(130px/$bp-xl),
        margin-left: null null auto,
        padding-top: null null 352px,
      ));
    }
  }


  &__heading {
    text-align: center;
    text-transform: uppercase;
    display: table;
    @include respond((
      font-size: 36px,
      line-height: 42px,
      margin: auto,
      background-color: $azure,
      padding: null null (0px 8px),
    ));

    span {
      @include font(roboto-condensed-bold);
      font-weight: bolder;
    }
  }


  &__content {
    @include respond((
      width: null null percentage(380px/$bp-xl),
      padding: (40px percentage(15/320) 60px) null (80px 0 100px 0),
    ));
  }


  &__content-heading {
    @include font(roboto-condensed-bold);
    text-transform: uppercase;
    @include respond((
      color: $white,
      font-size: 36px null 48px,
      line-height: 1 null .9,
    ));
  }


  &__body {
    @include font(roboto);
    @include respond((
      color: $white,
      margin-top: 20px null 40px,
    ));
  }


  &__cta {
    display: flex;
    white-space: nowrap;
    @include btn--transparent-light;
    @include respond((
      justify-content: flex-start,
      width: auto,
      height: 30px,
      font-size: 20px,
      line-height: 30px,
    ));

    &:first-of-type {
      @include respond((
        margin-top: 38px null 24px,
      ));
    }

    &:nth-of-type(2) {
      @include respond((
        margin-top: 10px null 24px,
      ));
    }

    svg {
      fill: $white;
      margin-left: 15px;
      @include respond((
        display: inline-block,
        width: 7.4px,
        height: 12px,
      ));
    }
  }

}
