.home-hero {
  background-color: $black;

  .container {
    @include respond((
      display: block null flex,
    ));
  }


  &__image {
    @include aspect-ratio(1, 1);
    @include respond((
      width: null null percentage(775px/$bp-xl),
    ));
  }


  &__image-carousel {
    &.flickity-enabled {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }

    .flickity-page-dots {
      @include respond((
        display: null null none,
        bottom: 24px,
      ));
    }

    .flickity-prev-next-button {
        background-color: transparent;
        width: 20px;
        height: 20px;
        @include respond((
          display: block null none,
        ));

        &.previous {
          left: 10px;
        }

        &.next {
          right: 10px;
        }

        &:not([disabled]):hover {
          .arrow {
            fill: $black !important;
          }
        }

        svg {
          transition: none;
        }

        .arrow {
          fill: $white;
        }
      }

    .dot {
      background-color: $white;
    }
  }


  &__figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }


  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $azure;
    transition: background-color .3s;
    position: relative;
    @include respond((
      overflow: hidden null visible,
      width: null null percentage(665px/$bp-xl),
      padding: (24px 16px) null (0 percentage(230px/1440px) 0 percentage(55px/1440px)),
    ));

    &__carousel {
      position: relative;
      width: 100%;
      @include respond((
        top: null null -50px,
      ));

      &.flickity-enabled {
        .home-hero__text + .home-hero__text {
          opacity: 1;
        }
        .home-hero__text:not(.is-selected) {
          opacity: 0;
        }
      }

      .flickity-page-dots {
        @include respond((
          display: none null block,
          text-align: left,
        ));

        .dot {
          background-color: $white;
        }
      }

      .flickity-prev-next-button {
        background-color: transparent;
        width: 20px;
        height: 20px;

        &.previous {
          left: percentage(-770/380);
        }

        &.next {
          right: percentage(-170/380);
        }

        &:not([disabled]):hover {
          .arrow {
            fill: $black !important;
          }
        }

        svg {
          transition: none;
        }

        .arrow {
          fill: $white;
        }
      }
    }
  }


  &__text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity .3s;
    @include respond((
      display: null null flex,
      flex-direction: column,
      justify-content: center,
      align-items: flex-start,
    ));

    & + & {
      position: absolute;
      opacity: 0;
    }

    &:nth-child(even) {
      .home-hero__heading span {
        color: $red;
      }
    }
  }


  &__heading {
    @include respond((
      margin-right: null null nul 83px,
    ));

    span {
      display: inline-block;
      background-color: $black;
      color: $azure;
      position: relative;
      @include font(roboto-condensed-bold);
      @include respond((
        font-size: 32px null 48px,
        line-height: 1,
        letter-spacing: 0,
        padding-left: 5px,
        padding-right: 5px,
      ));
    }
  }


  &__body {
    @include font(roboto);
    @include respond((
      margin-top: 27px null 44px,
      font-size: 16px,
      line-height: 24px,
    ));

    strong {
      @include font(roboto-bold);
    }
  }


  &__cta:link,
  &__cta:visited,
  &__cta:active {
    font-weight: bolder;
    white-space: nowrap;
    color: $black;
    @include btn--transparent-dark;
    @include respond((
      line-height: 35px,
      margin-top: 10px null 24px,
    ));

    svg {
      position: relative;
      @include respond((
        margin-left: 8px,
        width: 24px,
        height: 24px,
        padding: (6px 8px) null,
      ));
    }
  }



  // EVEN-CHILD STATE
  .home-hero__content.even {
    background-color: $red;
  }


}
