.join {
  display: block;
  position: relative;


  &__content {
    position: relative;
    @include respond((
      padding: (24px 32px) null (56px 0 155px),
    ));
  }

  &__bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__heading {
    display: table;
    margin: auto;
    position: relative;
    @include font(roboto-condensed-bold);
    @include respond((
      font-size: 22px null 36px,
      line-height: 30px null 42px,
      text-transform: uppercase,
      background-color: $azure,
      padding: (0 10px) null,
    ));
  }


  &__form {
    position: relative;
    @include respond((
      width: null null percentage(300px/$bp-xl),
      background-color: $white,
      margin-top: 50px null 147px,
      margin-left: null null percentage(180px/$bp-xl),
      padding: 24px null (45px 50px 109px),
    ));

    .input-block {
      &:not(:first-child) {
        @include respond((
          margin-top: 16px null 30px,
        ));
      }
      input {
        @include respond((
          height: 30px null 50px,
        ));
      }

      input:focus ~ label,
      &.active label {
        @include respond((
          transform: (scale(0.8) translateY(-20px)) null (scale(0.8) translateY(-30px)),
        ));
      }
    }
  }

  button {
    display: table;
    margin: auto;
    width: 145px;
    height: 36px;
    @include btn--azure;
    @include respond((
      font-size: 18px,
      margin-top: 30px,
      color: $white,
      text-transform: uppercase,
    ));
  }
}
