a:link,
a:visited,
a:active {
  text-decoration: none;
  transition: all .3s;
  color: $azure;

  svg {
    color: inherit;
    fill: currentColor;
  }

  &:hover {
    color: $azure;
  }

  svg {
    transition: all .3s;
  }
}
