a:link,
a:visited,
a:active {
  text-decoration: none;
  transition: all .3s;
  color: $azure;

  &:hover {
    color: $azure;

    svg {
      fill: $azure;
    }
  }

  svg {
    transition: all .3s;
  }
}
