ul,
ol {
  display: block;
  margin: 0;

  li {
    display: block;
    list-style-type: none;
    position: relative;

    &::before {
      content: '•';
      margin-right: .3em;
      font-size: .7em;
    }
  }
}
