.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.97);

  &__frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 100%;
  }

  &__backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }

  &__dialog {
    position: relative;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    @include respond((
      padding: (60px 42px) null (200px percentage(230px/$bp-xl) 60px),
    ));
  }

  &__content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    @include respond((
      width: 18px null 44px,
      height: 18px null 44px,
      top: 12px null 74px,
      right: 22px null 80px,
    ));

    svg {
      fill: $azure;
      @include respond((
        width: 16px null 44px,
        height: 16px null 44px,
      ));
    }
  }
}
