.petition-details {


  &__content {
    @include respond((
      padding: (32px percentage(43/320)) null (60px 0 46px),
    ));
  }



  &__narrative {
    display: block;

    p {
      @include font(roboto);
      @include respond((
        font-size: 14px null 18px,
        line-height: 21px null 24px,
      ));

      &:not(:first-child) {
        @include respond((
          margin-top: 25px,
        ));
      }
    }

    strong {
      @include font(roboto-bold);
    }
  }


  &__comments {
    @include respond((
      margin-top: 40px,
    ));

    // COLLAPSED ENTRIES STATE
    &:not(.expanded) {
      .signer + .signer {
        display: none;
      }
      .petition-details__comments__toggle svg {
        transform: none;
      }
      .petition-details__comments__toggle {
        color: $black !important;

        svg {
          fill: $black;
        }
      }
    }

    &__heading {
      @include font(roboto-bold);
      @include respond((
        font-size: 14px null 18px,
        line-height: 21px null 27px,
        letter-spacing: -.1px,
      ));
    }


    &__entries {
      margin-top: 16px;
    }

    .signers {

    }

    &__toggle {
      white-space: nowrap;
      background-color: transparent;
      display: table;
      color: $azure !important;
      @include font(roboto-condensed-bold);
      @include respond((
        margin-top: 17px null 46px,
        margin-right: null null auto,
        margin-left: null null auto,
        font-size: 14px null 20px,
        line-height: 21px null 34px,
      ));

      svg {
        transform: rotate(180deg);
        fill: $azure;
        @include respond((
          width: 14px null 20px,
          height: 14px null 18px,
          margin-left: 10px,
        ));
      }
    }

  }


  &__author {
    @include respond((
      margin-top: 25px null 27px,
      font-size: 14px null 18px,
      line-height: 21px null 27px,
      letter-spacing: -.1px,
    ));

    &__heading {
      @include font(roboto-bold);
    }

    &__name {
      @include font(roboto);
      @include respond((
        margin-top: 1.5em,
      ));
    }

    &__cta {
      display: inline-block;
      @include font(roboto-condensed-bold);
      @include respond((
        color: $black,
        margin-top: 15px,
        margin-right: null null auto,
        font-size: 14px null 20px,
        line-height: 21px null 34px,
      ));
    }

    svg {
      width: 24px;
      height: 24px;
      fill: $black;
      padding: 5px;
      position: relative;
      top: .2em;
    }
  }


  &__share {
    @include respond((
      margin-top: 40px null 50px,
    ));

    &__heading {
      @include font(roboto-condensed-bold);
      @include respond((
        font-size: 14px null 18px,
        line-height: 21px null 27px,
      ));
    }

    &__links {
      @include respond((
        margin-top: 20px null 26px,
      ));
    }

    &__item:link,
    &__item:active,
    &__item:visited {
      align-items: center;
      color: $azure;
      transition: all .3s;
      @include respond((
        display: flex null inline-flex,
        font-size: 12px 14px,
        line-height: 20px,
      ));

      &:not(:first-child) {
        @include respond((
          margin-top: 21px null 0,
          margin-left: null null 48px
        ));
      }

      &:hover {
        color: $cerulean;

        svg {
          fill: $cerulean;
        }
      }

      svg {
        fill: $azure;
        @include respond((
          width: 24px null 20px,
          height: 24px null 20px,
          padding: 5px null 0,
          margin-right: 20px,
        ));
      }
    }
  }


  &__disclaimer {
    @include font(roboto);
    @include respond((
      margin-top: 40px null 30px,
      font-size: 11px null 13px,
      line-height: 16.5px null 19.5px,
      color: $slate-gray,
    ));
  }

}
