.petition-details {


  &__content {
    @include respond((
      padding: (32px percentage(43px/$bp-sm)) null (60px percentage(90/780) 46px),
    ));
  }



  &__narrative {
    @include respond((
      display: block null none,
    ));

    p {
      @include font(roboto);
      @include respond((
        font-size: 14px,
        line-height: 21px,
      ));

      &:not(:first-child) {
        @include respond((
          margin-top: 25px,
        ));
      }
    }

    strong {
      @include font(roboto-bold);
    }
  }


  &__comments {
    @include respond((
      margin-top: 40px null 0,
    ));

    // COLLAPSED ENTRIES STATE
    &:not(.expanded) {
      .signer + .signer {
        display: none;
      }
      .petition-details__comments__toggle svg {
        transform: none;
      }
    }

    &__heading {
      @include font(roboto-bold);
      @include respond((
        font-size: 14px null 18px,
        line-height: 21px null 27px,
        letter-spacing: -.1px,
      ));
    }


    &__entries {
      @include respond((
        margin-top: 23px null 45px,
      ));
    }

    .signers {

    }

    &__toggle {
      white-space: nowrap;
      background-color: transparent;
      display: table;
      @include font(roboto-condensed-bold);
      @include respond((
        margin-top: 17px null 46px,
        margin-left: null null auto,
        margin-right: null null auto,
        font-size: 14px null 20px,
        line-height: 21px null 34px,
      ));

      svg {
        transform: rotate(180deg);
        @include respond((
          width: 14px null 20px,
          height: 14px null 18px,
          margin-left: 10px,
        ));
      }
    }

  }


  &__author {
    @include respond((
      margin-top: 25px null 27px,
      font-size: 14px null 18px,
      line-height: 21px null 27px,
      letter-spacing: -.1px,
    ));

    &__heading {
      @include font(roboto-bold);
    }

    &__name {
      @include font(roboto);
      @include respond((
        margin-top: 1.5em,
      ));
    }

    &__cta {
      display: table;
      @include font(roboto-condensed-bold);
      @include respond((
        color: $black,
        margin-top: 15px,
        margin-left: null null auto,
        margin-right: null null auto,
        font-size: 14px null 20px,
        line-height: 21px null 34px,
      ));
    }
  }


  &__share {
    @include respond((
      margin-top: 40px null 50px,
    ));

    &__heading {
      @include font(roboto-condensed-bold);
      @include respond((
        font-size: 14px null 18px,
        line-height: 21px null 27px,
      ));
    }

    &__links {
      @include respond((
        margin-top: 20px null 26px,
      ));
    }

    &__item {
      align-items: center;
      color: $azure;
      @include respond((
        display: flex null inline-flex,
        padding: null null (13px 16px),
        font-size: 12px 14px,
        line-height: 20px,
      ));

      &:not(:first-child) {
        @include respond((
          margin-top: 21px null 0,
          margin-left: null null 10px
        ));
      }

      svg {
        fill: $azure;
        @include respond((
          width: 24px null 20px,
          height: 24px null 20px,
          padding: 5px null 0,
          margin-right: 20px,
        ));
      }
    }
  }


  &__disclaimer {
    @include font(roboto);
    @include respond((
      margin-top: 40px null 30px,
      font-size: 11px null 13px,
      line-height: 16.5px null 19.5px,
      color: $slate-gray,
    ));
  }

}
