.petition-card {
  background-color: $ice-blue;
  position: relative;
  @include respond((
    margin: (0 21px) null 0,
    padding: (21px 22px 28px) null (107px percentage(80/780) 66px),
  ));

  &__heading {

    span {
      display: inline-block;
      padding: 2px 5px;
      @include font(roboto-condensed-bold);
      @include respond((
        font-size: 21px null 48px,
        line-height: .9 null 48px,
        letter-spacing: -.6px null normal,
        background-color: $azure,
      ));
    }
  }

  &__body {
    @include respond((
      margin-top: 13px null 24px,
    ));

    p {
      @include respond((
        font-size: 16px null 18px,
        line-height: 24px null 24px,
      ));
      @include font(roboto);

      &:not(:first-child) {
        @include respond((
          margin-top: 20px null 32.5px,
        ));
      }
    }

    strong {
      @include font(roboto-bold);
    }

  }

  &__media {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include aspect-ratio(235, 154);
    @include respond((
      margin-top: 15px null 29px,
    ));

    @include breakpoint(lg) {
      @include aspect-ratio(580, 380);
    }

    img {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__play {
      background-image: url('../images/icons/play.svg');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      overflow: hidden;
      z-index: 5;
      @include respond((
        width: 35px null 84px,
        height: 35px null 84px,
      ));

      img {
        width: 100%;
        height: 100%;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: percentage(91/154);
      opacity: .8;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0));
      pointer-events: none;
    }
  }

  &__description {
    @include respond((
      margin-top: 20px null 32.5px
    ));

    &.trimmed {
      @include respond((
        display: block null none,
      ));
    }

    &.full {
      @include respond((
        display: none null block,
      ));
    }
  }

  &__meta {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $white;
    @include font(roboto);
    @include respond((
      padding-left: 13px,
      padding-bottom: 14.5px,
      font-size: 11px,
      line-height: 1.5,
    ));
  }

  &__more-cta {
    height: 36px;
    align-items: center;
    white-space: nowrap;
    color: inherit;
    text-transform: uppercase;
    @include font(roboto-condensed-bold);
    @include respond((
      display: inline-flex null none,
      font-size: 14px,
      line-height: 1.5,
    ));

    svg {
      width: 12px;
      height: 8px;
      margin-left: 10px;
      margin-bottom: .15em;
    }
  }

  &__range {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond((
      margin-top: 25px null 30.5px,
    ));

    &__current,
    &__max {
      @include font(roboto-medium);
      @include respond((
        font-size: 11px null 13px,
        line-height: 20px,
        letter-spacing: .3px null .4px,
      ));
    }

    &__bar {
      display: block;
      width: 100%;
      position: relative;
      @include respond((
        margin-top: 4px null 7px,
        height: 5px,
      ));

      &__current {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $azure;
      }

      &__max {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $light-blue;
      }
    }
  }


  &__cta {
    display: flex;
    @include btn--transparent;
    @include respond((
      margin-top: 16px null 37px,
      margin-left: auto,
      margin-right: auto,
      font-size: 14px null 18px,
      line-height: 21px null 24px,
    ));

    svg {
      width: 24px;
      height: 24px;
      padding: 6px 8px;
      margin-left: 8px;
    }
  }


  &__share {
    @include respond((
      margin-top: 26px null 0,
      position: null null absolute,
      top: null null 39px,
      right: null null 28px,
    ));

    &-heading {
      @include font(roboto-bold);
      @include respond((
        display: block null none,
        font-size: 14px,
        line-height: 21px,
      ));
    }

    &-icons {
      display: flex;
      align-items: center;
      height: 24px;
      @include respond((
        margin-top: 14px null 0,
      ));
    }

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      display: block;
      width: 24px;
      height: 24px;
      @include respond((
        fill: $black,
        padding: 5px null,
      ));
    }

    use {
      width: 100%;
    }

    &-icons {
      .petition-card__share-icon {

        &:not(:first-child) {
          @include respond((
            margin-left: 24px null 15px,
          ));
        }
      }
    }
  }


  // EXPANDED DESCRIPTION STATE
  &.description-expanded {
    .petition-card__description {
      &.trimmed {
        display: none;
      }
      &.full {
        display: block;
      }
      & + .petition-card__more-cta {
        display: none;
      }
    }
  }


}
