.petition-card {
  background-color: $ice-blue;
  @include respond((
    padding: (21px 22px 28px) null,
  ));

  &__heading {

    span {
      @include font(roboto-condensed-bold);
      @include respond((
        font-size: 21px,
        line-height: .9,
        letter-spacing: -.6px,
        background-color: $azure,
      ));
    }
  }

  &__body {
    @include respond((
      margin-top: 13px,
    ));

    p {
      @include font(roboto);
      &:not(:first-child) {
        @include respond((
          margin-top: 20px,
          font-size: 14px,
          line-height: 21px,
        ));
      }
    }

    strong {
      @include font(roboto-bold);
    }

  }

  &__media {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include aspect-ratio(235, 154);
    @include respond((
      margin-top: 15px,
    ));

    img {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      overflow: hidden;
      z-index: 5;
      @include respond((
        width: 35px,
        height: 35px,
      ));

      img {
        width: 100%;
        height: 100%;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: percentage(91/154);
      opacity: .8;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0));
      pointer-events: none;
    }
  }

  &__meta {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $white;
    @include font(roboto);
    @include respond((
      padding-left: 13px,
      padding-bottom: 14.5px,
      font-size: 11px,
      line-height: 1.5,
    ));
  }

  &__more-cta {
    height: 36px;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    color: inherit;
    text-transform: uppercase;
    @include font(roboto-condensed-bold);
    @include respond((
      font-size: 14px,
      line-height: 1.5,
    ));

    svg {
      width: 12px;
      height: 8px;
      margin-left: 10px;
      margin-bottom: .15em;
    }
  }

  &__range {


    &__current {

    }

    &__max {

    }

    &__bar {

      &__current {

      }

      &__max {

      }
    }
  }


}
