.price-select {
  @include respond((
    margin-top: 30px,
  ));


  &__price {
    @include respond((
      display: inline-flex,
      text-align: center,
      width: 88px,
      height: 36px,
      margin-bottom: 20px null 0,
    ));

    &:not(:last-of-type) {
      @include respond((
        margin-right: 20px,
      ));
    }

    input {
      position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      border: 0;
      opacity: 0;
      -webkit-appearance: none;
    }

    label {
      @include font(roboto-condensed-bold);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      width: 100%;
      height: 100%;
      position: relative;
      background-color: $azure;
      transition: all .3s;
      cursor: pointer;
    }

    input:checked + label,
    label:hover {
      background-color: $cerulean;
    }
  }

  &__custom {
    @include respond((
      display: flex,
      align-items: center,
      max-width: 200px,
      height: 36px,
      margin-top: 0 null 60px,
      padding-left: 16px,
      padding-right: 19px,
      border: (1px solid transparentize($black, 1 - .54)) null,
      color: transparentize($black, 1 - .54),
    ));

    input {
      flex-grow: 1;
      padding-left: 5px;
      -webkit-appearance: none;
      border: 0;
      font-size: inherit;
      color: inherit;
    }

    label {
      flex-shrink: 0;
      margin-left: 0;
    }
  }

}
