.sign-form {

  h4 {
    @include respond((
      display: none null block,
      margin-bottom: 40px,
    ));
  }

  &__agreement {
    color: #3c434c;
    @include font(roboto);
    @include respond((
      margin-top: 20px,
      font-size: 13px,
      line-height: 16.5px,
    ));
  }

  &__link:link,
  &__link:visited,
  &__link:active {
    display: block;
    color: $dark-gray;
    @include font(roboto-bold);
    @include respond((
      margin-top: 10px,
      font-size: 13px,
      line-height: 16.5px,
    ));
  }

  button[type="submit"] {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 92px;
    @include btn--azure;
    @include respond((
      margin-top: 32px,
      font-size: 20px,
      line-height: 34px,
    ));
  }

  &__modal-toggle {
    display: block;
    text-align: center;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 500;

    &,
    &:hover {
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
    }

    @include btn--azure;
    @include respond((
      font-size: 21px,
    ));
  }
}
