.testimonial {
  background-color: $ice-blue;

  &__content {
    @include respond((
      display: block null flex,
      justify-content: center,
      align-items: center,
      padding-top: 24px null 50px,
      padding-bottom: 24px null 50px,
      padding-left: 16px null percentage(130px/$bp-xl),
      padding-right: 16px null percentage(230px/$bp-xl),
    ));
  }

  &__image {
    @include respond((
      width: 200px,
      height: 200px,
    ));
  }


  &__text {
    @include respond((
      margin-top: 36px null auto,
      margin-bottom: auto,
      margin-left: null null 100px,
    ));
  }
}
