{% extends 'layout' %}

{% block bodyclass %}petition{% endblock %}

{% block content %}
  <div class="petition-info-column">
    {% include 'components/petition-card' %}
    {% include 'components/petition-details' %}
  </div>
  <div class="petition-sign-column">
    {% include 'components/sign-form' %}
  </div>

  {% include 'components/sign-form-modal' %}
  {% include 'components/share-modal' %}

  <button class="sign-form__modal-toggle" data-modal="sign-form-modal">Sign Now</button>
{% endblock %}
