{% extends 'layout' %}

{% block bodyclass %}petition{% endblock %}

{% block content %}
  <div class="petition-info-column">
    {% include 'components/petition-card' %}
  </div>
  <div class="petition-sign-column">
    {#  #}
  </div>
{% endblock %}
