{% extends 'layout' %}

{% block bodyclass %}petition{% endblock %}

{% block content %}
  <div class="container">
    <div class="petition-info-column">
      {% include 'components/petition-card' %}
      {% include 'components/petition-details' %}
    </div>
    <div class="petition-sign-column">
      <div>
        {% include 'components/sign-form' %}
      </div>
    </div>
  </div>

  {% include 'components/sign-form-modal' %}
  {% include 'components/share-modal' %}

  <button class="sign-form__modal-toggle">Sign Now</button>
{% endblock %}
