<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Move On Styleguide{% endblock %}</title>
        <link rel="stylesheet" href="/styles/vendors.css" />
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/styles/styleguide.css" />
    </head>
    <body class="{% block bodyclass %}styleguide {% endblock %}">
        <div style="display:none">{% include 'components/symbol/svg/sprite.symbol.svg' %}</div>
        <div class="wrapper">

          {% include 'styleguide/header' %}

          <div class="stylguide-content">


            {# COLOR PALETTE #}
            {% embed 'styleguide/block' %}
                {% block heading %}Color Palette{% endblock %}
                {% block content %}
                    <table class="styleguide-color">
                        {% set colors = [
                            ['#ffffff', '$white'],
                            ['#f3f3f3', '$off-white'],
                            ['#cacaca', '$gray'],
                            ['#a7a7a7', '$light-gray'],
                            ['#696a6a', '$slate-gray'],
                            ['rgba(34, 34, 34, 0.38)', '$dark-gray-38'],
                            ['#222222', '$dark-gray'],
                            ['#000000', '$black'],
                            ['#005680', '$deep-sea-blue'],
                            ['#0080bf', '$cerulean'],
                            ['#00abff', '$azure'],
                            ['#99ddff', '$light-blue'],
                            ['#e5f5ff', '$ice-blue'],
                            ['#ea1c24', '$red']
                        ] %}
                        <tbody>
                            <tr>
                                <td>Color</td>
                                {% for item in colors %}
                                    <td><div class="styleguide-color__item" style="background-color: {{ item[0] }};"></div></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>SASS Variable</td>
                                {% for item in colors %}
                                    <td><div class="styleguide-color__variable">{{ item[1] }}</div></td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                {% endblock %}
            {% endembed %}


            {# BREAKPOINTS #}
            {% embed 'styleguide/block' %}
                {% block heading %}Beakpoints{% endblock %}
                {% block content %}
                    <table class="styleguide-breakpoints">
                        <thead>
                            <tr>
                                <td>Width</td><td>SASS Variable</td><td>Size</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td><strong>Small</strong></td> <td><em>$bp-sm</em></td> <td>0px</td></tr>
                            <tr><td><strong>Medium</strong></td> <td><em>$bp-md</em></td> <td>768px</td></tr>
                            <tr><td><strong>Large</strong></td> <td><em>$bp-lg</em></td> <td>1008px</td></tr>
                            <tr><td><strong>Extra Large</strong></td> <td><em>$bp-xl</em></td> <td>1440px</td></tr>
                        </tbody>
                    </table>
                {% endblock %}
            {% endembed %}


            {# TYPOGRAPHY #}
            {% embed 'styleguide/block' %}
                {% block heading %}Typography: Headings{% endblock %}
                {% block content %}
                    <div class="styleguide-headings">
                        <h1>Heading 1</h1>
                        <h2>Heading 2</h2>
                        <h3>Heading 3</h3>
                        <h4>Heading 4</h4>
                        <h5>Heading 5</h5>
                    </div>
                {% endblock %}
            {% endembed %}

            {# TYPOGRAPHY: BODY #}
            {% embed 'styleguide/block' %}
                {% block heading %}Typography: Body{% endblock %}
                {% block content %}
                    <div class="styleguide-headings">
                        <p>Lorem ipsum dolor sit <em>amet</em>, <a href="#">consectetur</a> <strong>adipisicing elit</strong>. Repellendus tenetur pariatur, nam natus est rerum sint minus maiores voluptas, facilis optio fugit delectus eligendi officiis dolorum ratione, quo numquam deserunt! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil placeat repudiandae minima non tempore odio cumque sit magnam temporibus nam quasi dolores deserunt est, aliquid nesciunt, eius, beatae debitis dolore!</p>
                    </div>
                {% endblock %}
            {% endembed %}

            {# TYPOGRAPHY: LIST #}
            {% embed 'styleguide/block' %}
                {% block heading %}Typography: List{% endblock %}
                {% block content %}
                    <div class="styleguide-list">
                        <ul>
                            <li>2018 Elections</li>
                            <li>Tax Reform</li>
                            <li>Immigration</li>
                            <li>Healthcare</li>
                        </ul>
                    </div>
                {% endblock %}
            {% endembed %}

            {# TYPOGRAPHY: BLOCKQUOTE #}
            {% embed 'styleguide/block' %}
                {% block heading %}Typography: Blockquote{% endblock %}
                {% block content %}
                    <div class="styleguide-description">
                        The width of this component should be defined within its parent styles.
                    </div>
                    <div class="styleguide-blockquote">
                        <blockquote>
                            <p>
                              “When a community starts to listen to each other, pull together, and work towards a common goal, the anything is possible.”
                            </p>
                            <cite>— <strong>Chuck</strong>, MoveOn Mobilizer</cite>
                          </blockquote>
                    </div>
                {% endblock %}
            {% endembed %}

            {# TYPOGRAPHY: ANIMATED UNDERLINE #}
            {% embed 'styleguide/block' %}
                {% block heading %}Typography: Animated Underline{% endblock %}
                {% block content %}
                    <div class="styleguide-description">
                        This only applies the animated underline to the text. The overall styles, such as font size and colors should be defined within the parent component.
                    </div>
                    <div class="styleguide-animated-underline">
                        <div>
                            <p class="animated-underline"><span>Sign</span><span>a</span><span>Petition</span></p>
                            <p class="animated-underline"><span>Support</span><span>a</span><span>Campaign</span></p>
                            <p class="animated-underline"><span>Attend</span><span>an</span><span>Event</span></p>
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}

            {# BUTTONS #}
            {% embed 'styleguide/block' %}
                {% block heading %}Buttons{% endblock %}
                {% block content %}
                    <div class="styleguide-buttons">
                        <button class="btn styleguide__button--azure">Simple Button</button>
                        <button class="btn styleguide__button--azure">Button With Icon <svg><use xlink:href="#caret-right" /></svg></button>
                        <button class="btn" disabled >Disabled Button</button>
                        <br><br>
                        <h3>Available SASS mixins:</h3>
                        <br>
                        <p><button class="btn styleguide__button--azure">Azure</button> <code class="SASS">@include btn--azure</code></p><br>
                        <p><button class="btn styleguide__button--transparent">Transparent</button> <code class="SASS">@include btn--transparent</code></p><br>
                        {# <p><button class="btn styleguide__button--transparent-dark">Transparent-Dark</button> <code class="SASS">@include btn--transparent-dark</code></p><br> #}
                        <p><div style="background-color: #ddd"><button class="btn styleguide__button--transparent-light">Transparent-Light</button> <code class="SASS">@include btn--transparent-light</code></div></p><br>
                    </div>
                {% endblock %}
            {% endembed %}

            {# ICONS #}
            {% embed 'styleguide/block' %}
                {% block heading %}Icons Set{% endblock %}
                {% block content %}
                    <div class="styleguide-icons">
                        {% set icons = [
                            'burger',
                            'caret-down',
                            'caret-right',
                            'check',
                            'close',
                            'cta-banner',
                            'cta-document',
                            'cta-hand',
                            'document-add',
                            'edit',
                            'facebook',
                            'flag-outline',
                            'flag-solid',
                            'illustration-checkbox',
                            'illustration-coins',
                            'illustration-cross',
                            'illustration-flag',
                            'instagram',
                            'link',
                            'mail',
                            'play',
                            'times',
                            'twitter'
                        ] %}
                        {% for icon in icons %}
                            <div class="styleguide-icon__icon">
                                <div class="styleguide-icon__icon__graphic"><svg><use xlink:href="#{{icon}}" x="" y=""/></svg></div>
                                <div class="styleguide-icon__icon__name">{{icon}}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endblock %}
            {% endembed %}

          </div>

        </div>

        <script src="/scripts/vendors.js"></script>
        <script src="/scripts/app.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
