<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Move On Styleguide{% endblock %}</title>
        <link rel="stylesheet" href="/styles/vendors.css" />
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/styles/styleguide.css" />
    </head>
    <body class="{% block bodyclass %}styleguide {% endblock %}">
        <div style="display:none">{% include 'components/symbol/svg/sprite.symbol.svg' %}</div>
        <div class="wrapper">

          {% include 'styleguide/header' %}

          <div class="stylguide-content">

            {# COLOR PALETTE #}
            {% embed 'styleguide/block' %}
                {% block heading %}Color Palette{% endblock %}
                {% block content %}
                    <table class="styleguide-color">
                        {% set colors = [
                            ['#ffffff', '$white'],
                            ['#f3f3f3', '$off-white'],
                            ['#cacaca', '$gray'],
                            ['#a7a7a7', '$light-gray'],
                            ['#696a6a', '$slate-gray'],
                            ['rgba(34, 34, 34, 0.38)', '$dark-gray-38'],
                            ['#222222', '$dark-gray'],
                            ['#000000', '$black'],
                            ['#005680', '$deep-sea-blue'],
                            ['#0080bf', '$cerulean'],
                            ['#00abff', '$azure'],
                            ['#99ddff', '$light-blue'],
                            ['#e5f5ff', '$ice-blue'],
                            ['#ea1c24', '$red']
                        ] %}
                        <tbody>
                            <tr>
                                <td>Color</td>
                                {% for item in colors %}
                                    <td><div class="styleguide-color__item" style="background-color: {{ item[0] }};"></div></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>SASS Variable</td>
                                {% for item in colors %}
                                    <td><div class="styleguide-color__variable">{{ item[1] }}</div></td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                {% endblock %}
            {% endembed %}

          </div>

        </div>
        <script src="/scripts/vendors.js"></script>
        <script src="/scripts/app.js"></script>
    </body>
</html>
