<section class="styleguide-block">
  <h2 class="styleguide-block__heading">{% block heading %}{% endblock %}</h2>
  <div class="styleguide-block__content">
    {% block content %}{% endblock %}
  </div>
  {% if 'markup' in blocks %}
    <pre class="styleguide-markup"><code>{{ block('markup')|escape }}</code></pre>
  {% endif %}
</section>
