body.donate {

  form {
    box-shadow: none;
  }

  #content {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }

  .donate-terms {
    border-top: 1px solid $light-gray;
  }


}
