.petition {

  #content {
    @include respond((
      display: null null flex,
      padding-top: 30px null 133px,
      padding-left: null null percentage(130px/$bp-xl),
      padding-right: null null percentage(130px/$bp-xl),
    ));
  }

  &-info-column {
    @include respond((
      width: null null percentage(780/1180),
    ));
  }
}
