@import "main";

body.styleguide {
  padding-top: 0;

  .wrapper {
    padding-top: 117px;
  }

  .styleguide-description {
    margin-bottom: 30px;
    font-size: 15px;
    color: #999;
    position: relative;
    padding: 10px 15px;
    border: 2px dashed darken($ice-blue, 10%);

    &:before {
      content: 'NOTE:';
      display: inline-block;
      position: absolute;
      top: -16px;
      background-color: darken($ice-blue, 10%);
      padding: 0 5px;
      color: $white;
    }
  }

  .styleguide-markup {
    padding: 10px 15px;
    line-height: 1.5;
    position: relative;

    &:before {
      content: 'MARKUP:';
      display: inline-block;
      position: absolute;
      top: -5px;
      left: 30px;
      background-color: $black;
      padding: 0 5px;
      color: $white;
      overflow: visible;
      font-size: 15px;
      z-index: 5;
    }

    code {
      display: block;
      position: relative;
      font-size: 12px;
      overflow: visible;
      padding: 25px 15px;
      overflow: auto;
      border: 2px dashed $gray;
    }
  }
}

@import "styleguide/header";
@import "styleguide/block";
@import "styleguide/color";
@import "styleguide/breakpoints";
@import "styleguide/headings";
@import "styleguide/buttons";
@import "styleguide/icons";
@import "styleguide/blockquote";
@import "styleguide/animated-underline";
@import "styleguide/round-image";
@import "styleguide/cta";
@import "styleguide/media";
