<section class="cta-grid">
  <div class="container">
    <div class="cta-grid__content">

      <h2 class="cta-grid__heading">
        SHOWING UP
      </h2>
      <h3 class="cta-grid__subheading">
        Looking to get involved, but unsure where to start? We’re here to help you take the first step.
      </h3>

      <div class="cta-grid__grid">
        <a href="#" class="cta-grid__item">
          {# <p class="cta-grid__text animated-underline"><span><span><i></i>Sign a<i></i></span><span><i></i>Petition<i></i></span></span></p> #}
          <p class="cta-grid__text animated-underline">{{ 'Sign a Petition' | wrap-words }}</p>
        </a>
        <a href="#" class="cta-grid__item">
          {# <p class="cta-grid__text animated-underline"><span><span><i></i>Support a<i></i></span><span><i></i>Campaign<i></i></span></span></p> #}
          <p class="cta-grid__text animated-underline">{{ 'Support a Campaign' | wrap-words }}</p>
        </a>
        <a href="#" class="cta-grid__item">
          {# <p class="cta-grid__text animated-underline"><span><span><i></i>Attend an<i></i></span><span><i></i>Event<i></i></span></span></p> #}
          <p class="cta-grid__text animated-underline">{{ 'Attend an Event' | wrap-words }}</p>
        </a>
      </div>

    </div>
  </div>
</section>
