<div class="donate-confirm donate-form">
  <div class="donate-confirm__content">

    <div class="donate-form__heading">
      THANK YOU!
    </div>
    <div class="donate-form__subheading">
      You’ve successfully contributed to help MoveOn fight for progress.
    </div>

    <div class="donate-confirm__receipt">
      <div class="donate-receipt">
        <div class="donate-receipt__heading">
          DONATION SUMMARY
        </div>
        <div class="donate-receipt__details">
          <div class="donate-receipt__row">
            <div class="donate-receipt__field">Donate Amount</div>
            <div class="donate-receipt__value">$50.00</div>
          </div>
          <div class="donate-receipt__row">
            <div class="donate-receipt__field">Payment Method</div>
            <div class="donate-receipt__value"><div class="donate-receipt__label">Visa</div> ending in 1109</div>
          </div>
          <div class="donate-receipt__row">
            <div class="donate-receipt__field">Account Holder</div>
            <div class="donate-receipt__value">Sam Hines</div>
          </div>
        </div>
      </div>
      <button class="donate-confirm__view-receipt">View Receipt</button>
      <button class="donate-confirm__hide-receipt">Hide Receipt</button>
    </div>

    <div class="donate-next">
      <div class="donate-next__heading">Take the Next Step</div>
      <div class="donate-next__subheading">Help keep us going with a recurring monthly contribution.</div>
      <form class="donate-next__form donate-form__fields donate-shortform">
        {% include 'components/price-select' %}
        <div class="donate-form__actions">
          <button type="submit" class="btn donate-form__action--solid" disabled>Contribute</button>
        </div>
        <p class="donate-form__agreement">
          By clicking contribute, I confirm that I have read all of the rules below and I certify that I comply with each of them.
        </p>
      </form>
    </div>

  </div>
</div>
