<div class="donate-confirm donate-form">
  <div class="donate-confirm__content">

  <h2 class="donate-form__subheading">Donate to MoveOn</h2>

  <div class="donate-form__fields">
    <div class="donate-form__amount-info">
      <div class="donate-form__step__heading"><span>Donation Amount</span></div>
        <div class="donate-form__step__content">
          <form class="donate-form__fields donate-shortform" method="POST">
            <p>Choose an amount to donate from your saved payment method</p>
            <div class="price-select price-select-group">
              <div class="radio-input">
                <input type="radio" name="amount" id="amount-$25" value="$25" required>
                <label for="amount-$25">$15</label>
              </div>
              <div class="radio-input">
                <input type="radio" name="amount" id="amount-$50" value="$50" required>
                <label for="amount-$50">$20</label>
              </div>
              <div class="radio-input">
                <input type="radio" name="amount" id="amount-$100" value="$100" required>
                <label for="amount-$100">$27</label>
              </div>
              <p>Or choose a custom amount:</p>
              <div class="radio-input radio-input-other">
                <label for="amount-other">$</label>
                <input type="text" name="other-amount" id="amount-other">
              </div>
            </div>
            <button type="submit" class="btn donate-form__submit" disabled>Donate</button>
          </form>
        </div>
    </div>
  </div>

  </div>
</div>
