<div class="donate-confirm donate-form">
  <div class="donate-confirm__content">

  <h1 class="donate-form__heading">DONATE</h1>
  <h2 class="donate-form__subheading">Be a force for change.</h2>

  <div class="donate-next">
    <form class="donate-next__form donate-form__fields donate-shortform">
      {% include 'components/price-select' %}
      <div class="donate-form__actions">
        <button type="submit" class="btn donate-form__action--solid" disabled>Contribute</button>
      </div>
      <p class="donate-form__agreement">
        By clicking contribute, I confirm that I have read all of the rules below and I certify that I comply with each of them.
      </p>
    </form>
  </div>

  </div>
</div>
