<section class="home-illustration">

  <div class="home-illustration__section home-illustration__top">

    <h2 class="home-illustration__heading"><span>Who We Are</span></h2>

    <div class="home-illustration__content">
      <figure class="home-illustration__image">
        <img src="/images/arrow-illustration.png" alt="" class="home-illustration__image">
      </figure>
      <h3 class="home-illustration__content-heading">
        Championing Progressive Values
      </h3>
      <p class="home-illustration__body">
        Whether it’s supporting a candidate for president or working to support immigration, our members are committed to a inclusive and progressive future.
      </p>
      <a href="#" class="btn home-illustration__cta">
        Learn More About Us
        {% include 'components/svg' with {id: 'caret-right'} only %}
      </a>
      <a href="#" class="btn home-illustration__cta">
        Join the Movement
        {% include 'components/svg' with {id: 'caret-right'} only %}
      </a>
    </div>

  </div>

  <div class="home-illustration__section home-illustration__bottom">
    <div class="home-illustration__content">
      <h3 class="home-illustration__content-heading">
        Focusing On Big Issues
      </h3>
      <p class="home-illustration__body">
        Our values manifest themselves in the issues we target. Here are just a few of our focus areas:
      </p>
      <ul class="home-illustration__list">
        <li class="home-illustration__list-item">
          <img src="/images/icons/illustration-checkbox.svg" alt="">
          <div class="home-illustration__list-item__text">2018 Elections</div>
        </li>
        <li class="home-illustration__list-item">
          <img src="/images/icons/illustration-coins.svg" alt="">
          <div class="home-illustration__list-item__text">Tax Reform</div>
        </li>
        <li class="home-illustration__list-item">
          <img src="/images/icons/illustration-flag.svg" alt="">
          <div class="home-illustration__list-item__text">Immigration</div>
        </li>
        <li class="home-illustration__list-item">
          <img src="/images/icons/illustration-cross.svg" alt="">
          <div class="home-illustration__list-item__text">Healthcare</div>
        </li>
      </ul>
    </div>
  </div>

  <img src="/images/arrow-illustration.png" alt="" class="home-illustration__cover">

</section>
