<div class="petition-card">
  <div class="petition-card__content">

    <div class="petition-card__heading">
      {{'WE NEED A REAL SOLUTION FOR THE HEROIN, FENTANYL, OXYCONTIN, AND OPIOID EPIDEMIC NOW' | wrap-words}}
    </div>

    <div class="petition-card__body">
      <p>To Eric Hargan, Acting secretary of Health and Human Services and President Donald Trump</p>

      <div class="petition-card__media">
        <div class="media">
          <img src="/images/petition-card-media.jpg" alt="">
          <button class="btn media__play"></button>
          <div class="media__meta">
            Posted by MoveOn <br>
            19,852 Views
          </div>
        </div>
      </div>

      <p><strong>Petition</strong></p>

      {# Trimmed down description #}
      <div class="petition-card__description trimmed">
        <p>{{'The opioid crisis must be declared a national health emergency and significant new funds for a long-term, comprehensive strategy for both prevention and treatment must be granted immediately.' | ellipsis}}</p>
      </div>
      {# Full description #}
      <div class="petition-card__description full">
        <p>The opioid crisis must be declared a national health emergency and significant new funds for a long-term, comprehensive strategy for both prevention and treatment must be granted immediately.</p>
        <p>Communities need to be able to mobilize resources to fight this epidemic long-term.</p>
      </div>

      <button href="#" class="btn petition-card__more-cta">
        See More
        {% include 'components/svg' with {id: 'caret-down'} only %}
      </button>

    </div>

    <div class="petition-card__range">
      <div class="petition-card__range__current">16,452</div>
      <div class="petition-card__range__max">20, 000</div>
      <div class="petition-card__range__bar">
        <div class="petition-card__range__bar__max"></div>
        <div class="petition-card__range__bar__current" style="width: calc(100% * 16452 / 20000)"></div>
      </div>
    </div>

    <button class="btn petition-card__cta" data-modal="signers-modal">
      MOST RECENT SIGNERS
      {% include 'components/svg' with {id: 'caret-right'} only %}
    </button>

    <div class="petition-card__share">
      <strong class="petition-card__share-heading">Share</strong>
      <div class="petition-card__share-icons">
        <a href="#" class="petition-card__share-icon--mail">{% include 'components/svg' with {id: 'mail'} only %}</a>
        <a href="#" class="petition-card__share-icon">{% include 'components/svg' with {id: 'facebook'} only %}</a>
        <a href="#" class="petition-card__share-icon">{% include 'components/svg' with {id: 'instagram'} only %}</a>
        <a href="#" class="petition-card__share-icon">{% include 'components/svg' with {id: 'link'} only %}</a>
      </div>
    </div>

  </div>

  {% include 'components/signers-modal' %}
</div>
