<div class="price-select">
  <div class="price-select__price">
    <input type="radio" name="amount" id="amount-$25" value="$25">
    <label for="amount-$25">$25</label>
  </div>
  <div class="price-select__price">
    <input type="radio" name="amount" id="amount-$50" value="$50">
    <label for="amount-$50">$50</label>
  </div>
  <div class="price-select__price">
    <input type="radio" name="amount" id="amount-$100" value="$100">
    <label for="amount-$100">$100</label>
  </div>
  <div class="price-select__price">
    <input type="radio" name="amount" id="amount-$200" value="$200">
    <label for="amount-$200">$200</label>
  </div>
  <div class="price-select__price">
    <input type="radio" name="amount" id="amount-$400" value="$400">
    <label for="amount-$400">$400</label>
  </div>
  <div class="price-select__custom">
    <label for="amount-other">$</label>
    <input type="text" name="amount" id="amount-other">
  </div>
</div>
