<div class="signers">
  <div class="signer">
    <div class="signer__info">
      <div class="signer__author">Jill Handerson</div>
      <div class="signer__date">Nov 29, 2017</div>
    </div>
    <div class="signer__quote">
      <p>"Remember, WE voted for this. We can undo the mess we made in 2018."</p>
      <button class="signer__flag">
        {% include 'components/svg' with {class:'flag--outline', id: 'flag-outline'} only %}
        {% include 'components/svg' with {class:'flag--solid', id: 'flag-solid'} only %}
      </button>
    </div>
  </div>
  <div class="signer signer--flagged">
    <div class="signer__info">
      <div class="signer__author">Jill Handerson</div>
      <div class="signer__date">Nov 29, 2017</div>
    </div>
    <div class="signer__quote">
      <p>"Remember, WE voted for this. We can undo the mess we made in 2018."</p>
      <button class="signer__flag">
        {% include 'components/svg' with {class:'flag--outline', id: 'flag-outline'} only %}
        {% include 'components/svg' with {class:'flag--solid', id: 'flag-solid'} only %}
      </button>
    </div>
  </div>
  <div class="signer">
    <div class="signer__info">
      <div class="signer__author">Nicolas Larson</div>
      <div class="signer__date">Nov 29, 2017</div>
    </div>
  </div>
  <div class="signer">
    <div class="signer__info">
      <div class="signer__author">Amanda Gibbs</div>
      <div class="signer__date">Nov 28, 2017</div>
    </div>
    <div class="signer__quote">
      <p>“Ex prompta intellegebat has, amet prima imperdiet sea ea ut eum, exerci nor.”</p>
      <button class="signer__flag">
        {% include 'components/svg' with {class:'flag--outline', id: 'flag-outline'} only %}
        {% include 'components/svg' with {class:'flag--solid', id: 'flag-solid'} only %}
      </button>
    </div>
  </div>
  <div class="signer">
    <div class="signer__info">
      <div class="signer__author">Jill Handerson</div>
      <div class="signer__date">Nov 29, 2017</div>
    </div>
    <div class="signer__quote">
      <p>"Remember, WE voted for this. We can undo the mess we made in 2018."</p>
      <button class="signer__flag">
        {% include 'components/svg' with {class:'flag--outline', id: 'flag-outline'} only %}
        {% include 'components/svg' with {class:'flag--solid', id: 'flag-solid'} only %}
      </button>
    </div>
  </div>
  <div class="signer signer--flagged">
    <div class="signer__info">
      <div class="signer__author">Jill Handerson</div>
      <div class="signer__date">Nov 29, 2017</div>
    </div>
    <div class="signer__quote">
      <p>"Remember, WE voted for this. We can undo the mess we made in 2018."</p>
      <button class="signer__flag">
        {% include 'components/svg' with {class:'flag--outline', id: 'flag-outline'} only %}
        {% include 'components/svg' with {class:'flag--solid', id: 'flag-solid'} only %}
      </button>
    </div>
  </div>
  <div class="signer">
    <div class="signer__info">
      <div class="signer__author">Nicolas Larson</div>
      <div class="signer__date">Nov 29, 2017</div>
    </div>
  </div>
  <div class="signer">
    <div class="signer__info">
      <div class="signer__author">Amanda Gibbs</div>
      <div class="signer__date">Nov 28, 2017</div>
    </div>
    <div class="signer__quote">
      <p>“Ex prompta intellegebat has, amet prima imperdiet sea ea ut eum, exerci nor.”</p>
      <button class="signer__flag">
        {% include 'components/svg' with {class:'flag--outline', id: 'flag-outline'} only %}
        {% include 'components/svg' with {class:'flag--solid', id: 'flag-solid'} only %}
      </button>
    </div>
  </div>
</div>
