{% extends 'components/modal' %}

{% block modal_id %}sign-form-modal{% endblock %}
{% block modal_class %}sign-form-modal{% endblock %}

{% block modal_content %}

  <div class="sign-form-modal__heading">Sign Now</div>
  {# <p class="sign-form-modal__subheading">Please provide your name and contact information.</p> #}

  {% include 'components/sign-form' %}
{% endblock %}
