<div class="testimonial">
  <div class="container">
    <div class="testimonial__content">

      <figure class="testimonial__image">
        <img src="/images/testimonial-image.jpg" alt="">
      </figure>

      <blockquote class="testimonial__text">
        <p>
          “When a community starts to listen to each other, pull together, and work towards a common goal, the anything is possible.”
        </p>
        <cite>— <strong>Chuck</strong>, MoveOn Mobilizer</cite>
      </blockquote>

    </div>
  </div>
</div>
