<div class="testimonial">
  <div class="testimonial__content">

      <figure class="testimonial__image">
        <img src="/images/testimonial-image.jpg" alt="">
      </figure>

      <div class="testimonial__text">
        <div class="testimonial__quote">
          “When a community starts to listen to each other, pull together, and work towards a common goal, the anything is possible.”
        </div>
        <div class="testimonial__source">— <strong>Chuck</strong>, MoveOn Mobilizer</div>
        <span class="clearfix"></span>
      </div>

  </div>
</div>
