.flickity-enabled {

  .dot {
    &::before {
      content: '';
    }
  }

}

.flickity-prev-next-button {
  & path.arrow {
    transition: all .3s;
  }

  &:not([disabled]):hover path.arrow {
    fill: $azure !important;
  }
}
