$white: #ffffff;
$off-white: #f3f3f3;
$gray: #cacaca;
$light-gray: #a7a7a7;
$slate-gray: #696a6a;
$dark-gray: #222222;
$dark-gray-38: rgba(34, 34, 34, 0.38);
$black: #000000;
$deep-sea-blue: #005680;
$cerulean: #0080bf;
$azure: #00abff;
$light-blue: #99ddff;
$ice-blue: #e5f5ff;
$red: #E9222D;
