@font-face {
  font-family: 'Roboto Condensed';
  src: url('/fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('/fonts/RobotoCondensed-Bold.ttf');
  font-weight: bolder;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('/fonts/Roboto-Bold.ttf');
}


$fonts: (
  roboto: ('Roboto Regular', sans-serif),
  roboto-condensed: ('Roboto Condensed', sans-serif),
  roboto-condensed-bold: ('Roboto Condensed Bold', sans-serif),
  roboto-medium: ('Roboto Medium', sans-serif),
  roboto-bold: ('Roboto Bold', sans-serif),
);


@mixin font( $name ) {
  @if ( map-has-key($fonts, $name) ) {
    font-family: map-get($fonts, $name);
  }
}
