.styleguide-block {
  margin-top: 50px;


  &__heading {
    padding: 10px 20px;
    border-bottom: 2px dashed $ice-blue;
    color: $azure;
  }


  &__content {
    padding: 20px 20px;

    pre {
      padding: 20px;
      font-size: .75em;
    }
  }
}
