.styleguide-buttons {

  button {
    font-size: 18px;
    @include btn--azure;
    padding: 5px 10px;
    min-width: 100px;

    svg {
      width: 14px;
      height: 14px;
      color: inherit;
      fill: currentcolor;
      margin-left: 10px;
    }
  }

  .styleguide__button {

    &--azure {
      @include btn--azure;
    }

    &--transparent {
      @include btn--transparent;
    }

    &--transparent-dark {
      @include btn--transparent-dark;
    }

    &--transparent-light {
      @include btn--transparent-light;
    }
  }

}
