.styleguide-cta {

  .home-illustration__cta {
    margin-top: 0 !important;
  }

  .dark {
    background-color: $black;
    padding: 24px 0 30px 20px;
  }

  .medium {
    background-color: $azure;
    padding: 24px 0 30px 20px;

    a {
      color: $black !important;

      &:hover {
        color: $white !important;

        svg {
          fill: $white !important;
        }
      }

      svg {
        fill: $black !important;
      }
    }
  }

  .dropdown {

    a:hover {

      svg {
        transform: rotate(270deg);
      }
    }

    svg {
      transform: rotate(90deg);
    }

    &-submenu {
      display: none;
    }
  }

  a {
    display: inline-flex;
  }
}
