.styleguide-header {
  width: 100%;
  height: 117px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;

  .container {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }

  .logo {
    display: block;
  }
}
